<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script type="text/javascript" src="../../../core/lib/zepto.js"></script>
    <script type="text/javascript" src="../../../core/lib/sea.js"></script>
    <script type="text/javascript" src="../../../core/lib/sea-css.js"></script>
    <script type="text/javascript" src="../../../core/lib/zTouch.js"></script>
    <script type="text/javascript" src="../../../core/base/util.js"></script>
    <script type="text/javascript" src="../../../core/lib/juicer.js"></script>
    <script type="text/javascript" src="../../../core/base/klass.js"></script>
    <script type="text/javascript" src="../../../core/base/basicPlug.js"></script>
    <script type="text/javascript" src="../../../core/base/loader.js"></script>
    <script type="text/javascript" src="../../../core/base/map.js"></script>
    <script type="text/javascript" src="../../../core/base/page.js"></script>
    <script type="text/javascript" src="../../../core/base/event.js"></script>
    <script type="text/javascript" src="../../../core/datacenter/dataCenter.js"></script>
    <script type="text/javascript" src="../../../core/base/animation.js"></script>
</head>
<body>
    <script type="text/javascript" src="list_form_grouping.js"></script>
    <link rel="stylesheet" type="text/css" href="list_form_grouping.css"/>
</body>
</html>