/*
    alert组件
    Gaotd 2015-1-7
*/
.LAPP-component-monthgroup{
    margin:10px 0;
}
.LAPP-component-monthgroup-h3{
    height:42px;
    line-height:42px;
    padding-left:10px;
    font-size:14px;
    color:#333;
    background:#fff;
    font-family:'微软雅黑';
    border-top:1px solid #cbcbcb;
    border-bottom:1px solid #cbcbcb;
}
.LAPP-component-monthgroup-h3::before,
.LAPP-component-monthgroup-h3::after{
    float:left;
    font-family:'LAPP-font-icon';
}
.LAPP-component-monthgroup-h3::before{
    margin-right:5px;
    color:#797979;
    content:'\2657';
}
.LAPP-component-monthgroup-h3::after{
    float:right;
    margin-right:10px;
    content:'\1602';
    color:#D7D8DA;
}
.LAPP-component-monthgroup-group{
    position:relative;
    padding-bottom:15px;
    overflow:hidden;
}
.LAPP-component-monthgroup-group a.active{
    position:relative;
    border:1px solid #4DC3A1;
    background:#EDFFFD;
}
.LAPP-component-monthgroup-group a.active::before,
.LAPP-component-monthgroup-group a.active::after{
    position:absolute;
    top:0;
    left:0;
}
.LAPP-component-monthgroup-group a.active::before{
    z-index:2;
    width:0; 
    height:0;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #4DC3A1;
    content:'';
}
.LAPP-component-monthgroup-group a.active::after{
    z-index: 3;
    font-family: 'LAPP-font-icon';
    text-align: center;
    color: #fff;
    content: '\2664';
    line-height: 15px;
    font-size: 12px;
    left: -2px;
}
.LAPP-component-monthgroup div.LAPP-component-monthgroup-group:nth-child(2)::after{
    position:absolute;
    left:10px;
    bottom:-1px;
    display:block;
    width:calc(100% - 25px);
    height:1px;
    border-top:1px dashed #cdcdcd;
    content:'213213211';
}
.LAPP-component-monthgroup-group a{
    float:left;
    margin:10px 0 0 10px;
    border:1px solid #cbcbcb;
    font-family:'微软雅黑';
    font-size:16px;
    color:#333;
}
.Monthgroup-pd8{
    padding:0 8px!important;
}
.LAPP-component-monthgroup-Dialog{
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    overflow:hidden;
}
.LAPP-component-monthgroup-Dialog-div{
    position:absolute;
    left:10px;
    bottom:50%;
    margin-top:-50px;
    width:calc( 100% - 20px );
    height:100px;
    border-radius:5px;
    background:#fff;
    overflow:hidden;
}
.LAPP-component-monthgroup-Dialog-ul{
    overflow:hidden;    
}
.LAPP-component-monthgroup-Dialog-ul li{
    height:30px;
    line-height:30px;
    font-size:18px;
    text-align:center;
}
.LAPP-component-monthgroup-Dialog-div > div{
    opacity:0!important;
}

















