.LAPP-component-timeline-art-ul li::before,
.LAPP-component-timeline-art-ul li em::after,
.LAPP-component-timeline-art-ul li em::before{
	font-family:"LAPP-font-icon";
}
#LAPP-timeline{
	height:100%;
}
.LAPP-component-timeline{
	position:relative;
	min-height:100%;
}
.LAPP-component-timeline::before{
	position:absolute;
	top:0;
	left:30px;
	width:1px;
	height:100%;
	background:#7B4C82;
	content:'';
}
.LAPP-component-timeline-art{
	margin:0 10px 10px 10px;
}
.LAPP-component-timeline-art-h3{
	position:relative;
	height:40px;
	line-height:40px;
	font-weight:normal;
	text-align:center;
}
.LAPP-component-timeline-art-h3::before{
	display:block;
	position:absolute;
	top:20px;
	left:0;
	z-index:3;
	height:1px;
	width:100%;
	border-bottom:1px dashed #BCBCBC;
	content:'';
}
.LAPP-component-timeline-art-h3 time{
	position:absolute;
	left:-7px;
	z-index:4;
	height: 24px;
	line-height: 24px;
	margin-top:8px;
	float:left;
	width:55px;
	padding-right:5px;
	color:#7B4C82;
	background:#EEEDF3;
}
.LAPP-component-timeline-art-h3 span{
	display:inline-block;
	position:relative;
	z-index:4;
	height:18px;
	line-height:18px;
	padding:0 10px;
	margin-left:40px;
	color:#fff;
	background:#BCBCBC;
	border-radius:6px;
}
.LAPP-component-timeline-art-ul{
	position:relative;
	z-index:4;
	color:#777;
}
.LAPP-component-timeline-art-ul li{
	position:relative;
	margin:10px 0 0 40px;
	padding:7px 14px;
	border:1px solid #BCBCBC;
	border-radius:5px;
	color:#777;
	font-size:14px;
	background:#fff;
}
.LAPP-component-timeline-art-ul li::before{
	position:absolute;
	top:7px;
	left:-28px;
	z-index:4;
	color:#7B4C82;
	font-size:14px;
	background:#EEEDF3;
	content:'\1616';
}
.LAPP-component-timeline-art-ul li em::after,
.LAPP-component-timeline-art-ul li em::before{
	position:absolute;
	top:7px;
	left:-8px;
	z-index:4;
}
.LAPP-component-timeline-art-ul li em::after{
	top:2px;
	font-size:23px;
	color:#fff;
	content:'\2610';
}
.LAPP-component-timeline-art-ul li em::before{
	z-index:5;
	color:#BCBCBC;
	content:'\b605';
}