<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no;address=no;email=no">
<head>
	<title>form-List模板实例</title>
	<link rel="apple-touch-icon-precomposed" href="1.png">
	<link rel="apple-touch-icon-startup-image" href="1.png">
	<link rel="apple-touch-icon" href="1.png">
	<!--全局样式-->
	<link type="text/css" rel="stylesheet" href="../../../css/base.css"/>
	<link type="text/css" rel="stylesheet" href="../../../css/widgetBasic.css"/>
</head>
<!-- 外部JS文件 -->
<script type="text/javascript" src="../../../core/lib/zepto.js"></script>
<script type="text/javascript" src="../../../core/lib/sea.js"></script>
<script type="text/javascript" src="../../../core/lib/sea-css.js"></script>
<script type="text/javascript" src="../../../core/lib/zTouch.js"></script>
<script type="text/javascript" src="../../../core/base/util.js"></script>
<script type="text/javascript" src="../../../core/lib/juicer.js"></script>
<script type="text/javascript" src="../../../core/base/klass.js"></script>
<script type="text/javascript" src="../../../core/base/basicPlug.js"></script>
<script type="text/javascript" src="../../../core/base/loader.js"></script>
<script type="text/javascript" src="../../../core/base/map.js"></script>
<script type="text/javascript" src="../../../core/base/page.js"></script>
<script type="text/javascript" src="../../../core/base/event.js"></script>
<script type="text/javascript" src="../../../core/datacenter/dataCenter.js"></script>
<script type="text/javascript" src="../../../core/base/animation.js"></script>
<body>
<script type="text/javascript" src="form.js"></script>
</body>
</html>
