<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--IOS中Safari允许全屏浏览 （网站开启对 web app 程序的支持）-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!-- IOS中Safari顶端状态条样式 注意：若值为“black-translucent”将会占据页面位置，浮在页面上方（会覆盖页面 20px 高度 iphone4 和 itouch4 的 Retina 屏幕为 40px -->
<meta name="apple-mobile-web-app-status-bar-style" content="red">
<!--忽略将数字变为电话号码  不自动将地址和email转为链接地址-->
<meta name="format-detection" content="telephone=no;address=no;email=no">
<title>组件：serialnumber</title>
<!-- 全局样式 -->
<link type="text/css" rel="stylesheet" href="../../../css/base.css"/>
<!-- 外部JS文件 -->
<script type="text/javascript" src="../../../core/lib/zepto.js"></script>
<script type="text/javascript" src="../../../core/lib/sea.js"></script>
<script type="text/javascript" src="../../../core/lib/sea-css.js"></script>
<script type="text/javascript" src="../../../core/base/seajs.config.js"></script>
<script type="text/javascript" src="../../../core/lib/zTouch.js"></script>
<script type="text/javascript" src="../../../core/base/util.js"></script>
<script type="text/javascript" src="../../../core/lib/juicer.js"></script>
<script type="text/javascript" src="../../../core/base/klass.js"></script>
<script type="text/javascript" src="../../../core/base/basicPlug.js"></script>
<script type="text/javascript" src="../../../core/base/loader.js"></script>
<script type="text/javascript" src="../../../core/base/map.js"></script>
<script type="text/javascript" src="../../../core/base/page.js"></script>
<script type="text/javascript" src="../../../core/base/event.js"></script>
<script type="text/javascript" src="../../../core/datacenter/dataCenter.js"></script>
<script type="text/javascript" src="../../../core/base/animation.js"></script>
<!--组件-->
<script type="text/javascript" src="../../../core/widget/component/loading/loading.js"></script>
<script type="text/javascript" src="../../../core/widget/component/toolbar/toolbar.js"></script>
<script type="text/javascript" src="../../../core/widget/component/serialnumber/serialnumber.js"></script>
</head>
<body>
<script type="text/javascript">
var args = {
    op : {
        render: "LAPP-header", 
        id : "loading"
    },
    componentData : [
         {type:'title',text: 'serialnumber',show: true}
    ],
    callback: function (html) {
        $('body').append(html);
    }
};
LAPP.Component.Toolbar(args);
//Serialnumber
var argsSerialnumber = {
	op : {
		render: "body",
		id : "Scrolltime",
        value : '100' , // 值
        number : 6 , // 编号几位数 （addnumber为空 不够则补0） 如果为空 则直接取value  number的长度如果小于value的长度 则取value的长度和addnumber之和 反之则补0
        addnumber : 'x',  // 补空(英文全部自动转换成大写)
        // styleDiv : { margin : [ 10,10,16,10 ] , padding : [ 8,10,8,10 ] },// 分别代表上右下左   可以不设置 默认为margin:10px;padding:8px 10px;
	},
    callback: function (html) {
        $('body').append(html);
    }
};
LAPP.Component.Serialnumber(argsSerialnumber);
</script>
</body>
</html>
