@CHARSET "UTF-8";
/*
   Menu
*/
.LAPP-component-alert-more-ul li::before,
.LAPP-component-alert-more-ul::before,
.LAPP-component-alert-button a::before,
.LAPP-component-alert-more-fot .LAPP-component-alert-more-ul::after{
	position:relative;
	font-family:"LAPP-font-icon";
}
.text-more{
	right:10px;
	color:#fff;
	font-weight:normal;
	font-size:14px;
}
.LAPP-component-alert-more{
	position:fixed;
	box-shadow:0 0 8px #999;
	background:#fff;
	border-radius:5px;
	z-index:1000;
}
.LAPP-component-alert-more-ul{
	position:relative;
}
.LAPP-component-alert-more-ul li{
	height:45px;
	line-height:45px;
	padding:0 20px 0 10px;
	font-size:14px;
	border-bottom:1px solid #EDEDED;
}
.LAPP-component-alert-more-ul li::before{
	display:inline-block;
	width:20px;
	text-align:center;
	margin-right:5px;
	font-size:18px;
}
.LAPP-component-alert-more-ul li.icon1::before{
	color:#7B4C82;
	content:'\2642';
}
.LAPP-component-alert-more-ul li.icon2::before{
	color:#F35649;
	content:'\2645';
}
.LAPP-component-alert-more-ul li.icon3::before{
	color:#43BB2B;
	content:'\2673';
}
.LAPP-component-alert-more-ul::before{
	position:absolute;
	top:-14px;
	right:3px;
	font-size:14px;
	color:#fff;
	content:'\2617';
}
.LAPP-component-alert-button{
	position:fixed;
	bottom:0;
	width:100%;
	height:45px;
	line-height:45px;
	border-top:1px solid #D9D8DD;
	box-shadow:0 0 5px #ccc;
	overflow:hidden;
	background:#fff;
}
.LAPP-component-alert-button a{
	float:left;
	width:29%;
	height:45px;
	font-size:14px;
	color:#000;
	text-align:center;
}
.LAPP-component-alert-button a:last-child{
	width:13%;
}
.LAPP-component-alert-button a::before{
	margin-right:5px;
}
.LAPP-component-alert-button a.icon1::before{
	color:#1AD15F;
	content:'\2665';
}
.LAPP-component-alert-button a.icon2::before{
	color:#478CD7;
	content:'\2666';
}
.LAPP-component-alert-button a.icon3::before{
	color:#F29823;
	content:'\2667';
}
.LAPP-component-alert-button a.icon4::before{
	display:inline-block;
	width:20px;
	color:#5F5D5D;
	content:'\2668';
}
.LAPP-component-alert-more-fot{
	position:fixed;
	z-index:1000;
	box-shadow:0 0 8px #999;
	background:#fff;
	border-radius:5px;
}
.LAPP-component-alert-more-fot .LAPP-component-alert-more-ul::before{
	display:none;
}
.LAPP-component-alert-more-fot .LAPP-component-alert-more-ul::after{
	position:absolute;
	top:none;
	bottom:-9px;
	right:12px;
	font-size:14px;
	color:#fff;
	content:'\2618';
}
.LAPP-component-alert-more-fot .LAPP-component-alert-more-ul li{
	height:35px;
	line-height:35px;
}
.LAPP-component-alert-more-fot .LAPP-component-alert-more-ul li.active{
	background:#F1F1F1;
	color:#F68C25;
}
.LAPP-component-alert-more-fot .LAPP-component-alert-more-ul li:last-child{
	border:none;
}
.LAPP-component-alert-more-fot .LAPP-component-alert-more-ul li::before{
	font-size:14px;
	color:#F68C25;
}
.LAPP-component-alert-more-fot .LAPP-component-alert-more-ul li.icon1::before{	
	content:'\2670';
}
.LAPP-component-alert-more-fot .LAPP-component-alert-more-ul li.icon2::before{	
	content:'\2669';
}
.LAPP-component-alert-more-fot .LAPP-component-alert-more-ul li.icon3::before{	
	content:'\2667';
}
.LAPP-component-alert-more-fot .LAPP-component-alert-more-ul li.icon4::before{	
	content:'\2672';
}
.LAPP-component-alert-more-fot .LAPP-component-alert-more-ul li.icon5::before{	
	content:'\2666';
}
/*
   btcolumn
*/
.LAPP-component-toggle-header::after,
.LAPP-component-up-dow-columns>ul.LAPP-component-alert-more-ul::before,
.LAPP-component-up-dow-columns>ul.LAPP-component-alert-more-ul>li::before,
.LAPP-component-up-dow-columns>ul.LAPP-component-alert-more-ul>li.active::after{
	font-family:"LAPP-font-icon";
}
.LAPP-component-toggle-header::after{
	position:relative;
	display:inline-block;
	width:17px;
	margin-left:5px;
	font-weight:normal;
	content:'\1619';
}
.LAPP-component-toggle-header-active::after{
	top:3px;
	transform:rotate(-180deg);
	-ms-transform:rotate(180deg); 	/* IE 9 */
	-moz-transform:rotate(180deg); 	/* Firefox */
	-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
	-o-transform:rotate(180deg); 	/* Opera */
}
.LAPP-component-up-dow-columns{
	position:fixed;
	z-index:10000;
	top:0;
	bottom:0;
	left:0;
	overflow:hidden;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.3);
}
.LAPP-component-up-dow-columns>ul.LAPP-component-alert-more-ul{
	position:relative;
	margin:62px 10px 0 10px;
	background:#fff;
	border-radius:5px;
}
.LAPP-component-up-dow-columns>ul.LAPP-component-alert-more-ul::before{
	position:absolute;
	top:-17px;
	left:50%;
	margin-left:-8px;
	color:#fff;
	font-size:17px;
	content:'\2617';
}
.LAPP-component-up-dow-columns>ul.LAPP-component-alert-more-ul>li{
	position:relative;
	height:45px;
	line-height:45px;
	padding:0 10px;
	border-bottom:1px solid #ccc;
	font-family:"微软雅黑";
	font-size:14px;
	color:#000;
}
.LAPP-component-up-dow-columns>ul.LAPP-component-alert-more-ul>li:last-child{
	border-bottom:none;
}
.LAPP-component-up-dow-columns>ul.LAPP-component-alert-more-ul>li.active::after{
	position:absolute;
	right:10px;
	color:#F68C25;
	font-weight:bold;
	content:'\b607';
}
.LAPP-component-up-dow-columns>ul.LAPP-component-alert-more-ul>li.icon1::before,
.LAPP-component-up-dow-columns>ul.LAPP-component-alert-more-ul>li.icon2::before,
.LAPP-component-up-dow-columns>ul.LAPP-component-alert-more-ul>li.icon3::before,
.LAPP-component-up-dow-columns>ul.LAPP-component-alert-more-ul>li.icon4::before{
	position:relative;
	margin-right:5px;
	font-size:17px;
	content:'\c644';
}
.LAPP-component-up-dow-columns>ul.LAPP-component-alert-more-ul>li.icon1::before{
	color:#D75C65;
}
.LAPP-component-up-dow-columns>ul.LAPP-component-alert-more-ul>li.icon2::before{
	color:#5C96D7;
	content:'\c645';
}
.LAPP-component-up-dow-columns>ul.LAPP-component-alert-more-ul>li.icon3::before{
	color:#90CC80;
	content:'\c646';
}
.LAPP-component-up-dow-columns>ul.LAPP-component-alert-more-ul>li.icon4::before{
	color:#D98247;
	content:'\c647';
}